<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<h1 style="text-align: center;"><strong>Панель управління</strong></h1>
<p style="text-align: center;"><a href="/bank/admin/check-verification">Заявки на верифікацію</a></p>
<p style="text-align: center;"><a href="/bank/admin/card-orders">Заявки на відкриття карток</a></p>
<p style="text-align: center;"><a href="/bank/admin/card-close-orders">Заявки на закриття карток</a></p>
<p style="text-align: center;"><a href="/bank/admin/credit/create-orders">Заявки на відкриття кредиту</a></p>
<p style="text-align: center;"><a href="/bank/admin/deposit/create-orders">Заявки на відкриття депозиту</a></p>
<hr/>
<p style="text-align: center;"></p>
</body>
</html>