<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<h1 style="text-align: center;"><strong>Доступні послуги</strong></h1>
<p style="text-align: center;"><a href="/bank/card">Операції з картками</a></p>
<p style="text-align: center;"><a href="/bank/credit">Кредитування</a></p>
<p style="text-align: center;"><a href="/bank/deposits">Депозити</a></p>
<p style="text-align: center;"><a href="/bank/payments-transfers">Платежі і перекази</a></p>
<p style="text-align: center;"><a href="/bank/verification">Пройти верифікацію</a></p>
<hr/>
<p style="text-align: center;"></p>
</body>
</html>