<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
<form style="text-align: center;" th:method="POST" th:action="@{/bank/registration}"  th:object="${user}">
    <h1><strong>Реєстрація</strong></h1>
    <label for="phone">Номер телефону:</label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone error</div>
    <br/>
    <label for="password">Пароль:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Phone error</div>
    <br/>
    <input type="submit" value="Реєстрація"/>
</form>
</body>
</html>