<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Платежі</title>
</head>
<body>
    <form style="text-align: center;" th:method="POST" th:action="@{/bank/payments-transfers/payments}" th:object="${payment}">
        <select class="form" id="type" name="type">
            <option value="">Тип платежу</option>
            <option th:each="type : ${list}"
                    th:value="${type}"
                    th:text="${type.getName()}">
            </option>
        </select>
        <br/>
        <label for="payCard">Номер картки:</label>
        <input type="text" th:field="*{payCard}" id="payCard"/>
        <div style="color:red" th:if="${#fields.hasErrors('payCard')}" th:errors="*{payCard}">PayCard error</div>
        <br/>
        <label for="money">Сума:</label>
        <input type="text" th:field="*{money}" id="money"/>
        <div style="color:red" th:if="${#fields.hasErrors('money')}" th:errors="*{money}">Money error</div>
        <br/>
        <input type="submit" value="Переказати"/>
    </form>
</body>
</html>